.square {
    height: 100px;
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    font-size: 50px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}